{% extends 'photos/nav.html' %}
{% load static %}
<title>{% block title %}Interest | Homepage{% endblock title %}</title>
{% block css_files %}
    
    
    <link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.11.2/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <script src="{% static 'https://kit.fontawesome.com/d0acd0f2a3.js' %}" crossorigin="anonymous"></script>
    <!-- Plugin file -->
    <link rel="stylesheet" href="{% static './css/addons/datatables.min.css' %}">
    {% endblock %}

    {% block content %} 
    <style>
        .add_button{
            z-index: 5;
            position: fixed;
            bottom:30px;
            right:1rem;
            border-radius:50%;
            text-align:left;
            font-size:40px;
        }
        .container a{
            text-decoration:none;
        }
        .home_button{
            border-radius:60px;
        }
        .image-container{
            position:relative;
        }
        .down-btn{
            display:inline-block;
            position:absolute;
            z-index: 10;
            right:2%;
            bottom:3%;
        }

        .img-fluid{
            object-fit:cover;
            border-radius:7px;
            width: 280px;
            height:200px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-left: 15px;
            
        }

        .column {
            justify-content: space-between;
            padding: 0 4px;
        } 
        

        .column img {
            margin-top: 8px;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    
    <div class="col-12">
        <div class="row">
            {% for photo in photos %}
            
            
            <div class="column my-2">
                <div class="image-container">
                    <a href="{% url 'photo' photo.id %}"><img class='img-fluid' src="{{photo.image.url}}" alt="..."></a>
                    <a class='down-btn' href="{{photo.image.url}}" download>&#8595;</i></a>
                </div>
                
                
            </div>
            
            {% empty %}
            <h3>No photos yet...</h3>
            {% endfor %}
            <a class='btn btn-white add_button text-dark' href="{% url 'add' %}">+</a>
        </div>
    </div>
</div>

</script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<!-- Plugin file -->
<script src="{% static './js/addons/datatables.min.js' %}"></script>
</body>
{% endblock content %}